* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 10vh;
  text-align: center;
  background-color: silver;
}

.card {
  display:inline-block;
}

.card-title li {
  text-align: left;
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.card-title li::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin: 0 10px 0 0 ;
}

.card-title li:hover::before {
  background-color: #6e1313;
}


.card-button {
  display: flex;
  justify-content: center;
  outline: 2px solid black;
  padding: 10px;
}

.card-button a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.button1 {
  margin: 15px 20px 15px 20px;
  background-color: rgb(8, 155, 8);
  border-radius: 50px;
  height: 50px;
  width: 250px;
  color: white;
  transition: .5s;
}
.button1:hover {
  transform: scale(1.2);
  background-color: green;
}

.button2 {
  background-color: rgb(8, 155, 8);
  margin: 15px 20px 15px 20px;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  color: white;
  transition: .5s;
}
.button2:hover {
  transform: scale(1.2);
  background-color: green;
}

.card-title2 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}
.card-title2::first-letter {
  font-size: 24px;
  color: red;
}
.card-title3 {
  font-size: 18px;
  text-align: left;
}

.card-title3::first-line {
  font-size: 24px;
  color: red;
}