* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 10vh;
  text-align: center;
  background-color: silver;
}

.card {
  display:inline-block;
}

.card-title li {
  text-align: left;
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.card-title li::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin: 0 10px 0 0 ;
}

.card-title li:hover::before {
  background-color: #6e1313;
}

.card-button {
  display: block;
  margin-top: 20px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(0, 170, 0, .8);
  
}

.card-button:hover {
  cursor: pointer;
  background-color: rgba(15, 128, 15, 0.8);
}

.button-text {
  color: white;
  padding: 10px;
}