* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 30px;
}

.text {
  font-size: 24px;
  line-height: 33px;
  margin: 0px 0px 30px 0px;
}

.text::first-line{
  color: green;
}
.text::first-letter{
  font-size: 50px;
  color: red;
}

.list {}

.list li {
  font-size: 24px;
  margin: 0 0 30px 0px;
  list-style-type: none;
}

.list li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin:0 10px 0 0 ;
}